## Task 2

#### We going to create a dataframe of the postal code for each neighborhood/borough. We will use Foursquare location data, for getting the latitude and the longitude coordinates of each neighborhood/borough

### Import needed libraries

In [28]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup

### Getting Data from Internet¶

In [29]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
Data_url = requests.get(url).text
Data=BeautifulSoup(Data_url, 'xml')

### Creating of new DataFrame

In [30]:
table=Data.find('table')
columns_names = ['Postal Code','Borough','Neighborhood']
df_toronto=pd.DataFrame(columns = columns_names)
table_rows = table.find_all('tr')

for tr in table_rows:
    row_data=[]
    for td in tr.find_all('td'):
        row_data.append(td.text.strip())
    if len(row_data)==3:
        df_toronto.loc[len(df_toronto)] = row_data
        
df_toronto=df_toronto[df_toronto['Borough']!='Not assigned']
df_toronto=df_toronto.reset_index(drop=True)
df_toronto['Neighborhood']=df_toronto['Neighborhood'].str.replace('/',',')

In [31]:
df_toronto.head()

  Postal Code           Borough                                  Neighborhood
0         M3A        North York                                     Parkwoods
1         M4A        North York                              Victoria Village
2         M5A  Downtown Toronto                    Regent Park , Harbourfront
3         M6A        North York             Lawrence Manor , Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park , Ontario Provincial Government

In [32]:
df_toronto.shape

(103, 3)

### Downloading of coordinates from cocl.us and creating new data frame with coordinates

In [33]:
coordinates=pd.read_csv("http://cocl.us/Geospatial_data")
coordinates.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

### Merging of Data frames

In [38]:
df_merge = pd.merge(df_toronto,coordinates, on = 'Postal Code')

## Results

In [39]:

df_merge.head(12)

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park , Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor , Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park , Ontario Provincial Government",43.662301,-79.389494
5,M9A,Etobicoke,Islington Avenue,43.667856,-79.532242
6,M1B,Scarborough,"Malvern , Rouge",43.806686,-79.194353
7,M3B,North York,Don Mills,43.745906,-79.352188
8,M4B,East York,"Parkview Hill , Woodbine Gardens",43.706397,-79.309937
9,M5B,Downtown Toronto,"Garden District, Ryerson",43.657162,-79.378937
10,M6B,North York,Glencairn,43.709577,-79.445073
11,M9B,Etobicoke,"West Deane Park , Princess Gardens , Martin Gr...",43.650943,-79.554724

In [40]:
df_merge.shape

(103, 5)